In [4]:
import pandas as pd

# Read the ratings.csv file
ratings = pd.read_csv("Ratings.csv")

# Check the column names to find the correct one
print(ratings.columns)

# Sort the columns based on the "Book-Rating" column in descending order
ratings_sorted = ratings.sort_values(by='Book-Rating', ascending=False)

# Check the first few rows of the sorted DataFrame
print("First Few Rows of Sorted Ratings Data:")
print(ratings_sorted.head())

ratings_sorted.to_csv("cleaned-ratings.csv", index=False)

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')
First Few Rows of Sorted Ratings Data:
        User-ID        ISBN  Book-Rating
714920   173291  0590460609           10
439695   105221  0590353403           10
439659   105214  1573220221           10
113491    26421  1558743669           10
439664   105221  0064407667           10

In [5]:
import pandas as pd

# Read the cleaned ratings data
ratings = pd.read_csv("cleaned-ratings.csv")

# Read the final cleaned books data
books = pd.read_csv("final_bookss_cleaned_data.csv")

# Merge the dataframes based on the common column ISBN
combined_data = pd.merge(ratings, books, on='ISBN')

# Save the combined data to a new CSV file


# Display the first few rows of the combined data
print("First Few Rows of Combined Data:")
print(combined_data.head())

First Few Rows of Combined Data:
   User-ID        ISBN  Book-Rating  \
0   105221  0590353403           10
1   105214  1573220221           10
2    26421  1558743669           10
3   105221  0064407667           10
4   105221  0064407675           10

                                          Book-Title     Book-Author  \
0     Harry Potter and the Sorcerer's Stone (Book 1)   J. K. Rowling
1  The Color of Water: A Black Man's Tribute to H...   James McBride
2  A Child Called \It\": One Child's Courage to S...     Dave Pelzer
3  The Bad Beginning (A Series of Unfortunate Eve...  Lemony Snicket
4  The Reptile Room (A Series of Unfortunate Even...  Lemony Snicket

   Year-Of-Publication              Publisher  \
0                 1998             Scholastic
1                 1996        Riverhead Books
2                 1995  Health Communications
3                 1999          HarperCollins
4                 1999          HarperCollins

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0590353403.0...
1  http://images.amazon.com/images/P/1573220221.0...
2  http://images.amazon.com/images/P/1558743669.0...
3  http://images.amazon.com/images/P/0064407667.0...
4  http://images.amazon.com/images/P/0064407675.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0590353403.0...
1  http://images.amazon.com/images/P/1573220221.0...
2  http://images.amazon.com/images/P/1558743669.0...
3  http://images.amazon.com/images/P/0064407667.0...
4  http://images.amazon.com/images/P/0064407675.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0590353403.0...
1  http://images.amazon.com/images/P/1573220221.0...
2  http://images.amazon.com/images/P/1558743669.0...
3  http://images.amazon.com/images/P/0064407667.0...
4  http://images.amazon.com/images/P/0064407675.0...

In [8]:
combined_data = combined_data.dropna(axis=0)

# Remove columns with null values
combined_data = combined_data.dropna(axis=1)
print(combined_data.head())
combined_data.to_csv("combined_data_cleaned.csv", index=False)

   User-ID        ISBN  Book-Rating  \
0   105221  0590353403           10
1   105214  1573220221           10
2    26421  1558743669           10
3   105221  0064407667           10
4   105221  0064407675           10

                                          Book-Title     Book-Author  \
0     Harry Potter and the Sorcerer's Stone (Book 1)   J. K. Rowling
1  The Color of Water: A Black Man's Tribute to H...   James McBride
2  A Child Called \It\": One Child's Courage to S...     Dave Pelzer
3  The Bad Beginning (A Series of Unfortunate Eve...  Lemony Snicket
4  The Reptile Room (A Series of Unfortunate Even...  Lemony Snicket

   Year-Of-Publication              Publisher  \
0                 1998             Scholastic
1                 1996        Riverhead Books
2                 1995  Health Communications
3                 1999          HarperCollins
4                 1999          HarperCollins

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0590353403.0...
1  http://images.amazon.com/images/P/1573220221.0...
2  http://images.amazon.com/images/P/1558743669.0...
3  http://images.amazon.com/images/P/0064407667.0...
4  http://images.amazon.com/images/P/0064407675.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0590353403.0...
1  http://images.amazon.com/images/P/1573220221.0...
2  http://images.amazon.com/images/P/1558743669.0...
3  http://images.amazon.com/images/P/0064407667.0...
4  http://images.amazon.com/images/P/0064407675.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0590353403.0...
1  http://images.amazon.com/images/P/1573220221.0...
2  http://images.amazon.com/images/P/1558743669.0...
3  http://images.amazon.com/images/P/0064407667.0...
4  http://images.amazon.com/images/P/0064407675.0...

In [9]:
import pandas as pd

# Read the users.csv file
users = pd.read_csv("users.csv")

# Remove rows with null values
users_cleaned_rows = users.dropna(axis=0)

# Remove columns with null values
users_cleaned_columns = users_cleaned_rows.dropna(axis=1)

# Save the cleaned users data to a new CSV file
users_cleaned_columns.to_csv("cleaned_users.csv", index=False)

# Display the first few rows of the cleaned users data
print("First Few Rows of Cleaned Users Data:")
print(users_cleaned_columns.head())

First Few Rows of Cleaned Users Data:
    User-ID                        Location   Age
1         2       stockton, california, usa  18.0
3         4       porto, v.n.gaia, portugal  17.0
5         6   santa monica, california, usa  61.0
9        10      albacete, wisconsin, spain  26.0
10       11  melbourne, victoria, australia  14.0

In [10]:
import pandas as pd

# Read the cleaned users data
users_cleaned = pd.read_csv("cleaned_users.csv")

# Sort the DataFrame based on the "Age" column in ascending order
users_sorted = users_cleaned.sort_values(by='Age', ascending=True)

# Save the sorted data to a new CSV file
users_sorted.to_csv("sorted_users.csv", index=False)

# Display the sorted DataFrame
print("Sorted Users Data:")
print(users_sorted)

Sorted Users Data:
        User-ID                                Location    Age
97941    162240                  buffalo, new york, usa    0.0
78395    130116  lower templestowe, victoria, australia    0.0
81940    135954            powder springs, georgia, usa    0.0
125146   207491                 manassas, virginia, usa    0.0
114475   189925          san francisco, california, usa    0.0
...         ...                                     ...    ...
5282       8458                milano, lombardia, italy  230.0
949        1579            akure, ondo/nigeria, nigeria  231.0
35097     58286                      midvale, utah, usa  237.0
5491       8782                calgary, alberta, canada  239.0
12880     20857  stuttgart, baden-wuerttemberg, germany  244.0

[168096 rows x 3 columns]

In [14]:
import pandas as pd

# Read the cleaned users data
users_cleaned = pd.read_csv("users_final.csv")

# Filter the "Age" column to include values in the range 8 to 90
users_filtered = users_cleaned[(users_cleaned['Age'] >= 5) & (users_cleaned['Age'] <= 90)]

# Save the filtered data to a new CSV file
users_filtered.to_csv("users_final.csv", index=False)

# Display the first few rows of the filtered DataFrame
print("Filtered Users Data (Age Range 8 to 90):")
print(users_filtered.head())

Filtered Users Data (Age Range 8 to 90):
     User-ID                          Location  Age
466    12015               wien, wien, austria  5.0
467   183914  steralia, mainland, austbritania  5.0
468   169759            como, lombardia, italy  5.0
469   256045          las rozas, madrid, spain  5.0
470   272480     amora, estremadura,, portugal  5.0

In [18]:
import pandas as pd

# Read the combined data
combined_data = pd.read_csv("merged_data.csv")

# Sort the DataFrame based on the "Book-Ratings" column
combined_data_sorted = combined_data.sort_values(by='Book-Rating', ascending=False)

# Remove rows with zero values
combined_data_filtered_rows = combined_data_sorted[(combined_data_sorted != 0).all(axis=1)]

# Remove columns with zero values
combined_data_filtered = combined_data_filtered_rows.loc[:, (combined_data_filtered_rows != 0).any(axis=0)]

# Save the filtered data to a new CSV file
combined_data_filtered.to_csv("final_model_data.csv", index=False)

# Display the first few rows of the filtered DataFrame
print("First Few Rows of Sorted and Filtered Combined Data:")
print(combined_data_filtered.head())

First Few Rows of Sorted and Filtered Combined Data:
        User-ID                     Location   Age        ISBN  Book-Rating  \
219059   213249  minneapolis, minnesota, usa  29.0  0679766529           10
62696    220931      danville, illinois, usa  23.0  0345338588           10
517570   240870        biddeford, maine, usa  43.0  1588250059           10
517571   240870        biddeford, maine, usa  43.0  0525945571           10
517574   240570   dunbar, west virginia, usa  43.0  043935806X           10

                                               Book-Title        Book-Author  \
219059  Edwin Mullhouse: The Life and Death of an Amer...  Steven Millhauser
62696   On a Pale Horse (Incarnations of Immortality, ...      Piers Anthony
517570  A Dozen Ways to Sunday: Stories of Hope and Co...    Montel Williams
517571  Help Yourself: Celebrating the Rewards of Resi...    David J. Pelzer
517574  Harry Potter and the Order of the Phoenix (Boo...      J. K. Rowling

        Year-Of-Publication              Publisher  \
219059                 1996      Vintage Books USA
62696                  1989          Del Rey Books
517570                 2001  Mountain Movers Press
517571                 2000           Dutton Books
517574                 2003             Scholastic

                                              Image-URL-S  \
219059  http://images.amazon.com/images/P/0679766529.0...
62696   http://images.amazon.com/images/P/0345338588.0...
517570  http://images.amazon.com/images/P/1588250059.0...
517571  http://images.amazon.com/images/P/0525945571.0...
517574  http://images.amazon.com/images/P/043935806X.0...

                                              Image-URL-M  \
219059  http://images.amazon.com/images/P/0679766529.0...
62696   http://images.amazon.com/images/P/0345338588.0...
517570  http://images.amazon.com/images/P/1588250059.0...
517571  http://images.amazon.com/images/P/0525945571.0...
517574  http://images.amazon.com/images/P/043935806X.0...

                                              Image-URL-L
219059  http://images.amazon.com/images/P/0679766529.0...
62696   http://images.amazon.com/images/P/0345338588.0...
517570  http://images.amazon.com/images/P/1588250059.0...
517571  http://images.amazon.com/images/P/0525945571.0...
517574  http://images.amazon.com/images/P/043935806X.0...